
header {
    background-color: #0047AB;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo h1 {
    font-size: 1.5rem;
    margin: 0;
}

.navbar ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.navbar ul li a {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.navbar ul li a.active {
    background-color: #FFD700;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.nav-toggle {
    display: none;
    font-size: 1.5rem;
    color: white;
    background: none;
    border: none;
    cursor: grabbing;
}

.contact {
    padding: 2rem;
    text-align: center;
    background-color: #f4f4f4;
}

.contact form {
    max-width: 600px;
    margin: auto;
    text-align: left;
    margin-top: 10px;
}

.contact form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact form button {
    background: #0047AB;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
}

.contact form a{
    text-decoration: none;
    color: white;
}

.contact form button:hover {
    background: #FFD700;
    color: #0047AB;
}
footer {
    text-align: center;
    background: #0047AB;
    color: white;
    padding: 1rem 0;
    height: 200px;
}

body{
    margin-left: 0%;
}

footer a {
    color: #FFD700;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}