*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(design-house-modern-villa-with-open-plan-living-private-bedroom-wing-large-terrace-with-privacy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}
h1{
    color: #00aaff;
    font-size: 50px;
    font-family: "Playfair Display", serif;
}
h3{
    color: #00aaff;
    font-size: 20px;
    font-family: "Playfair Display", serif;
}
h2{
    text-align: center;
    font-size: 40px;
}
.content{
margin-right: 70px;
margin-bottom: 18%;
}

@media (max-width: 870px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;
    }
    body{
        background: url(design-house-modern-villa-with-open-plan-living-private-bedroom-wing-large-terrace-with-privacy.jpg);
        background-size: cover;
        
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cont {
      margin-left: 30px;
     
    }
    .content {
        display: none;
    }

    .form input::placeholder{
        color: #000;
       font-size: 20px;
    }

    .container {
   height: 100%;
    }
}

.container {
    background: rgba(239, 239, 239, 0.4);
    backdrop-filter: blur(4px);
    padding: 20px;
    height: 50%;
    border-radius: 5px;
    width: 300px;
    margin-right: 50px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form button {
    margin-bottom: 40%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #218838;
}

.hidden {
    display: none;
}